@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	line-height: 2.5;
}

h1 {
	font-size: 70px;
	color:#fff;
	padding: 5px 0 0 0;
}

h2 {
	font-size: 4rem;
}

ul {
	list-style-type: none;
}

header {
	background-color: #000000;
}
header p {
	color: #666;
	padding-bottom: 80px;
}

.subutitle {
	color: #fff;
	font-size: 25px;
	padding: 150px 0 0 0;
	width: 600px;
	margin: auto;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.subutitle::before,
.subutitle::after {
	border-top: 1px solid;
    content: "";
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
}
.subutitle::before {
	margin-right: 1.5em;
}
.subutitle::after {
	margin-left: 1.5em;
}


header a {
	display: inline-block;
	width: 180px;
	padding: 20px;
	margin-bottom: 80px;
	color: #fff;
	background: #afa58d;
	border-radius: 6px;
	font-size: 12px;
	text-decoration: none;
}

header > a+a {
	margin-left: 20px;
	background: #D29E04;
}


section {

}

section h2 {
	font-size: 40px;
	padding-top: 100px;
	padding-bottom: 20px;
}
section > p+p {
	margin-top: 20px;
	margin-bottom: 100px;
}

section.works {
	background-color: #383634;
}
section.works h2 {
	color: #fff;
}
ul {
	display: inline;
	display: flex;
	flex-flow; ;
}




















