@charset "utf-8";
body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select {
	margin: 0;
	padding: 0;
}

body {
}


ul,
ol		{ list-style: none; }

img		{ border: 0; vertical-align: middle; width: 100%; height: auto; }


svg,
input,
select,
textarea,
label	{ vertical-align: middle; }


table	{ border-collapse: collapse; }


*,
*:before,
*:after {
	word-break: break-all;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
pre	 {
	white-space: pre-wrap;
}


main, article, aside, figcaption, figure,
footer, header, nav, section, details, summary {
	display: block;
}

address {
	font-style: normal;
}


html {
}
html {
	line-height: 1.7;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
}
html, input, select, textarea {
	color: #212121;
}
input, textarea {
	font-size: 100%;
}
select {
	font-size: 16px;
	font-size: 1.2rem;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
strong, em, small {
	font-weight: inherit;
}







body {
	background-image: url("http://www.shoeisha.com/book/hp/mcoding/3/images/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-attachment:fixed;
	font-family: Raleway;
}


header {
	color: #fff;
	padding: 130px 30px 80px;
	text-align: center;
}

.subtitle {
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
}

.subtitle:before,
.subtitle:after {
	content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;
}

header h1 {
	text-align: center;
	font-size: 70px;
	margin-top: 30px;
}

header p {
	text-align: center;
	color: #888;
	margin-top: 30px;
}

header a {
	font-size: 16px;
	border-radius: 5px;
	display: inline-block;
	height: 50px;
	width: 180px;
	color: #fff;
	background-color: #afa58d;
	text-decoration: none;
	margin: 50px 8px 0 8px;
	text-align: center;
	padding-top: 12px;
}

header > a+a {
	background-color: #D29E04;
}







.about {
	background-color: #fff;
	padding: 80px 30px 80px 30px;
}

.about h2 {
	font-size: 35px;
	text-align: center;
}

.about p {
	text-align: center;
	line-height: 3;
}

.about > p + p {
	margin-top: 20px;
}







.works {
	background-color: rgb(56,54,52);
	padding: 80px 0 80px 0;
}
.works h2 {
	text-align: center;
	font-size: 35px;
	color: #fff;
}

.works p {
	color: #fff;
}

.works ul {
	display: flex;
}
img {
	margin: 60% 0 0;
}
.imgOdd {
	margin: 0 0 60%;
}

.works li {
	position: relative;
}
.works-after-img1:after {
	content: "";
	background-image: url(http://www.shoeisha.com/book/hp/mcoding/3/images/tree.jpg);
	width: 100%;
	height: 50%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleY(-1);
	opacity: 0.2;
}

.works-after-img2:after {
	content: "";
	background-image: url(http://www.shoeisha.com/book/hp/mcoding/3/images/building.jpg);
	width: 100%;
	height: 50%;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 0;
	transform: scaleY(-1);
	opacity: 0.2;
}
.works-after-img3:after {
	content: "";
	background-image: url(http://www.shoeisha.com/book/hp/mcoding/3/images/lake.jpg);
	width: 100%;
	height: 50%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleY(-1);
	opacity: 0.2;
}
.works-after-img4:after {
	content: "";
	background-image: url(http://www.shoeisha.com/book/hp/mcoding/3/images/sky.jpg);
	width: 100%;
	height: 50%;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 0;
	transform: scaleY(-1);
	opacity: 0.2;
}

.works p {
	position: absolute;
	width: 100%;
	padding: 10px;
	height: 41%;
	top: 4%;
	left: 8%;
	z-index: 1;
	line-height: 2;
	overflow-y: scroll;
	box-sizing: border-box;
}

.works .pOdd {
	position: absolute;
	top: 53%;
	left: 5%;
	z-index: 1;
	padding: 10px;
	line-height: 2;
}

.works p a {
	text-align: center;
	display: block;
}

.works .label {
	margin-top: 20px;
	width: 150px;
    border-radius: 4px;
    background-color: #afa58d;
    color: #fff;
    padding: 3px;
    margin: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.15);
}






.mySkills {
	background-color: #fff;
	text-align: center;
	padding: 80px 0;
}

.mySkills ul {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
.mySkills h2 {
	font-size: 35px;
}

.fa-stack {
	color: #f1b400;
	font-size: 5rem;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 4px solid #f1b400;
}

.mySkills li {
	padding: 0 30px 0 30px;
}

.mySkills p {
	margin-top: 20px;
	line-height: 2;
}

.contact {
	padding: 80px 0 150px 0;
}

.contact h2 {
	color: #fff;
	text-align: center;
	font-size: 35px;
}
form {
	padding: 50px 150px 50px 150px;
}

input[type="text"] {
	margin-bottom: 10px;
	width: 100%;
	text-align: left;
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px 0 10px 0;
	border:1px solid #444;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

textarea {
	display: block;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
	height: 150px;
	font-size: 16px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type="submit"] {
	margin-top: 20px;
	font-size: 16px;
	width: 100%;
	left: 0;
	right:0;
	padding: 15px;
	border-radius: 5px;
	background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 40px auto 0;
}



footer p {
	color: #fff;
	text-align: center;
}





@media only screen and (max-width: 768px) {

	.subutitle {
		font-size: 1.7em;
	}
	.subtitle:before,
	.subtitle:after{
		display: block;
	    width: 80%;
	    margin: 10px auto;
	}

	header {
		background: #000;
	}


	ul {
		flex-direction: column;
		position: relative;
	}
	.label {
		margin: 0;
		width: 300px;
	}

	img,
	.imgOdd {
		margin: 0;
		height: 150px;
		transform: scaleY(-1);
		opacity: 0.2;
	}

	.works p {
		height: auto;
	}

	.works p {
		position: absolute;
		width: 100%;
		padding: 10px;
		top: 4%;
		left: 34%;
		z-index: 1;
		line-height: 2;
		overflow-y: scroll;
		box-sizing: border-box;
	}

	.works .pOdd {
		position: absolute;
		top: 4%;
		left: 34%;
		z-index: 1;
		padding: 10px;
		line-height: 2;
	}

	.works .label {
		margin: 0 0 0 20px;
	}




	.mySkills li {
		margin: 30px 0;
	}

	.fa-stack {
		color: #f1b400;
		font-size: 3rem;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border: 4px solid #f1b400;
	}
	.contact {
		background: #000;
	}
	input[type=text],textarea {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		padding: 15px;
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.4);
		border-radius: 0;
		background-color: rgba(255, 255, 255, 0.05);
		color: #fff;
	}

	.contact {
		background-color: #000;
	}

	footer {
		background: #000;
		color: #fff;
	}


}
















